<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>notonto</display-name>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>

	<!-- JERSEY Servlet -->
	<servlet>
		<servlet-name>JerseyWebApplication</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>JerseyWebApplication</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<!-- Brain Servlet -->
	<servlet>
		<servlet-name>Brain Servlet</servlet-name>
		<servlet-class>org.stoevesand.brain.servlet.BrainServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Brain Servlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<!-- Audio Servlet -->
	<servlet>
		<servlet-name>Audio Servlet</servlet-name>
		<servlet-class>org.stoevesand.brain.servlet.AudioServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Audio Servlet</servlet-name>
		<url-pattern>/audio/*</url-pattern>
	</servlet-mapping>

	<!-- Captcha Servlet -->
	<servlet>
		<servlet-name>Captcha Servlet</servlet-name>
		<servlet-class>org.stoevesand.brain.servlet.CaptchaServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Captcha Servlet</servlet-name>
		<url-pattern>/captcha/*</url-pattern>
	</servlet-mapping>

	<!-- Unlock Servlet -->
	<servlet>
		<servlet-name>Unlock Servlet</servlet-name>
		<servlet-class>org.stoevesand.brain.servlet.UnlockServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Unlock Servlet</servlet-name>
		<url-pattern>/unlock/*</url-pattern>
	</servlet-mapping>

	<!-- jsessionid Filter -->
	<filter>
		<filter-name>DisableUrlSessionFilter</filter-name>
		<filter-class>org.stoevesand.brain.servlet.DisableUrlSessionFilter</filter-class>
		<init-param>
			<param-name>SEOBrowser</param-name>
			<param-value>(google)+</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>DisableUrlSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/sessioninvalid.html</location>
	</error-page>
</web-app>