/* RESET OHNE IMG - VERURSACHT IE6 Problem */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,cite,em,font,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: top;
	background: transparent;
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

img {
	margin: 0;
	padding: 0;
	border: 0;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-spacing: 0;
}

/* ENDE RESET */
body {
	margin: 0 0 20px;
	padding: 0;
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
	color: #333;
}

abody {
	padding: 0px;
	margin: 0px;
}

img {
	border: 0px;
}

input {
	background-color: #ffffff;
	text-align: left;
}

.it {
	border: 1px solid #888888;
	width: 220px;
}

/*   #####            SCHRIFTVARIANTEN                ######          */
.content h1 {
	font-size: 24px;
	font-weight: normal;
	text-decoration: none;
	color: #222222;
	margin: 0px;
	padding: 0px;
	margin: 0px 0px 5px 0px;;
}

.sidebar h1 {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #222222;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #FB5F00;
	margin: 0px 0px 5px 0px;;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #666666;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.h2 {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #666666;
	margin: 0px 0px 0px 0px;
	padding: 2px 5px;
}

h3 {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #222222;
	margin: 0px 0px 5px 0px;
	padding: 0px;
}

.pad {
	margin: 5px 0px 10px 0px;
}

.distlr {
	margin: 0px 5px 0px 5px;
}

.font1 {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

.font1b {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

a.font1,a.font1:visited {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #FB5F00;
	margin: 0px;
	padding: 0px;
}

.font1 a,.font1 a:visited {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #FB5F00;
	margin: 0px;
	padding: 0px;
}

a.font1b,a.font1b:visited {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FB5F00;
	margin: 0px;
	padding: 0px;
}

.quicklink,.quicklink:hover,.quicklink:visited {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #7F7A77;
}

a.link {
	text-decoration: none;
}

a.link:hover {
	text-decoration: underline;
	color: #FB5F00;
}

a.nlink {
	text-decoration: none;
}

a.nlink:hover {
	text-decoration: none;
}

.font2 {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #222222;
	margin: 0px;
	padding: 0px;
}

.font3 {
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	color: #222222;
	margin: 0px;
	padding: 0px;
}

.font4 {
	font-size: 24px;
	font-weight: normal;
	text-decoration: none;
	color: #222222;
	margin: 0px;
	padding: 0px;
}

.font5 {
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	color: #222222;
	margin: 0px;
	padding: 0px;
}

.font5i {
	font-size: 18px;
	font-weight: italic;
	text-decoration: none;
	color: #222222;
	margin: 0px;
	padding: 0px;
}

.font6 {
	font-size: 36px;
	font-weight: normal;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

.font9 {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #222222;
	margin: 0px;
	padding: 0px;
}

.font9r {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #FB5F00;
	margin: 0px;
	padding: 0px;
}

.font9g {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #129300;
	margin: 0px;
	padding: 0px;
}

.bold {
	font-weight: bold;
}

/*
++++++++++++ FARBEN
*/ /* hell orange */
.c1 {
	color: #FB5F00;
}

/* dunkel orange */
.c2 {
	color: #FB5F00;
}

/* petrol */
.c3 {
	color: #1A5E93;
}

/* green */
.c4 {
	color: #009900;
}

/* grey */
.cg {
	color: #444444;
}

.cr {
	color: #aa0000;
}

.c0 {
	color: #000000;
}

.lessonicon {
	width: 180px;
	text-align: center;
	float: left;
	padding: 5px 0px 5px 0px;
	border: 1px solid #dddddd;
	margin: 3px;
}

.lessonicon:hover {
	background-color: #f2f2f2;
}

.tbmargin {
	margin: 3px 0px 3px 0px;
}

.ldesc {
	height: 40px;
}

.thecloud a:hover {
	color: #FB5F00;
}

.sel {
	color: #FB5F00;
}

.cloud0 {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}

.cloudc0 {
	color: #888888;
}

.cloud1 {
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
}

.cloudc1 {
	color: #666666;
}

.cloud2 {
	font-size: 22px;
	font-weight: normal;
	text-decoration: none;
}

.cloudc2 {
	color: #000000;
}

.fontsym {
	font-size: 80px;
	font-weight: normal;
	text-decoration: none;
	color: #222222;
	margin: 0px;
	padding: 0px;
}

.hinttext1 {
	font-size: 11px;
	font-weight: bold;
	color: #444444;
}

.errortext {
	font-size: 12px;
	font-weight: bold;
	color: #aa0000;
}

.msgtext {
	font-size: 12px;
	font-weight: bold;
}

.OraInlineErrorText {
	font-size: 12px;
	font-weight: bold;
	color: #aa0000;
}

.hinttext {
	font-size: 12px;
	font-weight: bold;
	color: #aa0000;
	margin: 0px 0px 10px 0px;
}

.infotext {
	font-size: 12px;
	font-weight: bold;
	color: #8F7500;
	margin: 0px 0px 10px 0px;
	border: 1px solid #8F7500;
	padding: 5px;
	background-color: #FFF6CF;
}

.oktext {
	font-size: 12px;
	font-weight: bold;
	color: #008000;
}

.headtext {
	display: inline;
	margin-left: 0px;
	margin-right: 7px;
	line-height: 21px;
	font-size: 10px;
	font-weight: normal;
	color: #FB5F00;
}

.headtext_link {
	display: inline;
	margin-left: 0px;
	margin-right: 7px;
	line-height: 21px;
	font-size: 10px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}

.headtext_bold {
	display: inline;
	margin-left: 0px;
	margin-right: 7px;
	line-height: 21px;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

.headtext_link:hover {
	text-decoration: underline;
}

.res_f {
	color: #990000;
	text-decoration: underline;
}

.res_r {
	color: #000000;
}

.green {
	color: #009900;
	font-weight: bold;
}

.red {
	color: #990000;
	font-weight: normal;
}

.white {
	color: #ffffff;
	font-weight: bold;
	font-size: 10px;
	font-style: normal;
}

/*   #####      FORMULARE      #####  */
.button {
	border: 1px solid #FB5F00;
	background-color: #FB5F00;
	font-size: 10px;
	color: white;
	padding: 2px 10px 2px 10px;
	margin-right: 7px;
	margin-left: 7px;
	background-image: url(/images/menu_shade.gif);
}

.button:hover,.button:focus {
	border: 1px solid #FB5F00;
	background-color: #FB5F00;
}

/*   ###    WEITEN  ###   */
.w100p {
	width: 100%;
}

.w50p {
	width: 50%;
}

.h100p {
	height: 100%;
}

.w25 {
	width: 25px;
}

.w50 {
	width: 25px;
}

.w100 {
	width: 100px;
}

.w150 {
	width: 150px;
}

.w200 {
	width: 200px;
}

.w300 {
	width: 300px;
}

.w400 {
	width: 400px;
}

.w600 {
	width: 600px;
}

.w500 {
	width: 500px;
}

.atop {
	vertical-align: top;
}

.w150 {
	width: 140px;
}

.hidden {
	visibility: visible;
	display: block;
	height: 0px;
	overflow: hidden;
}

.shown {
	visibility: visible;
	display: block;
	overflow: hidden;
}

/* #####     TABELLEN       #####  */
.table1 td {
	padding: 4px 0px;
}

.highlight {
	background-color: #dddddd;
}

.myborder {
	border-left: 1px solid #FB5F00;
	border-right: 1px solid #FB5F00;
	text-align: center;
}

.innerbox {
	padding: 7px;
	background-color: #F8EEE9;
	border: 2px solid #6D84B4;
	margin: 10px 0px 0px 0px;
}

.myheader {
	border-bottom: 1px solid #FB5F00;
}

.t_fixed {
	border-collapse: collapse;
}

.plainlist {
	list-style: inside decimal;
}

/*      ####         LAYER           ####   */
#content-wrapper {
	background-color: #dddddd;
	background-repeat: repeat-x;
	padding-top: 18px;
	min-height: 500px;
}

div.content_col {
	float: left;
	width: 600px;
	margin: 10px 20px 0px 0px;
}

div.sidebar_col {
	float: left;
	width: 250px;
	margin: 10px 20px 0px 0px;
}

div.outer {
	text-align: center;
	float: none;
}

.shade_top {
	background-image: url(/images/shade_top.gif);
	background-repeat: repeat-x;
	background-color: #222222;
	background-position: bottom;
}

.logo {
	background-image: url(/images/notonto_logo.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 60px;
}

.headsplit {
	width: 860px;
	position: absolute;
}

.hs1 {
	width: 30px;
	vertical-align: top;
}

.hs2 {
	width: 100%;
}

.loginhead {
	width: 400px;
	text-align: right;
}

.beta {
	margin: 8px 0px 0px 150px;
	font-size: 12px;
	font-weight: italic bold;
	color: white;
}

.block {
	position: relative;
	width: 900px;
	margin: 0 auto;
	text-align: left;
	padding: 0px 0px 0px 0px;
}

div.content_footer {
	overflow: hidden;
	float: left;
	padding: 10px 10px;
	width: 100%;
	background-color: #ffffff;
	border-top: 1px solid #C4BCB8;
	margin: 10px 0px 0px 0px;
}

.footer_col {
	float: left;
	width: 30% px;
}

.footer_col ul {
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
}

.footer_col h2 {
	color: #bbbbbb;
}

.footer_col a,.footer_col a:visited {
	color: #bbbbbb;
}

div.content_w {
	overflow: hidden;
	float: left;
	padding: 5px 0px 5px 0px;
	width: 866px;
	background-color: white;
	margin: 0px 0px 10px 0px;
}

div.content {
	overflow: hidden;
	position: relative;
	float: left;
	padding: 5px 0px 5px 0px;
	width: 600px;
	background-color: white;
	margin: 0px 0px 10px 0px;
}

div.content_err {
	overflow: hidden;
	position: relative;
	float: left;
	padding: 5px 0px 5px 0px;
	width: 600px;
	background-color: #ffeeee;
	border: 1px solid #cc0000;
	margin: 0px 0px 10px 0px;
}

div.sidebar {
	background-position: bottom right;
	background-repeat: repeat-y;
	overflow: hidden;
	width: 250px;
	padding: 5px 0px;
	position: relative;
	float: left;
	background-color: white;
	margin: 0px 0px 10px 10px;
}

.liblesson {
	display: block;
	width: 560px;
	overflow: hidden;
	background-color: #FEF0D7;
	border: 1px solid #FB5F00;
}

/**/
.inflate {
	display: block;
	height: 34px;
	width: 560px;
	overflow: hidden;
}

.blowup {
	display: block;
	height: 140px;
	width: 560px;
	overflow: hidden;
	background-color: #FEF0D7;
	border: 1px solid #FB5F00;
}

img.icon {
	border: none;
	margin: 0px 0px 0px 0px;
}

.libcontent {
	vertical-align: top;
	width: 100%;
}

.libdesc {
	visibility: visible;
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
}

.libcount {
	visibility: visible;
	width: 100%;
}

.libicon {
	vertical-align: top;
	width: 70px;
}

/**/
.orange_ruler {
	height: 1px;
	border: 0px;
	border-bottom: 1px solid #FB5F00;
	margin: 0px 0px;
}

.black {
	background-color: #ffffff;
	border-bottom: 5px solid #FB5F00;
}

.bgwhite {
	background-color: #ffffff;
}

.grey {
	
}

.ta_right {
	text-align: right;
}

.ta_left {
	text-align: left;
}

.ta_center {
	text-align: center;
}

.right {
	position: relative;
	width: 850px;
	/* Override this value for narrorwer layouts. Use ( x * 60 ) -10, where x is the number of column you want. */
	margin: 0 auto 0 auto;
	/* Layouts are typically centered horizontially, but this can be overriden for flush-left. */
	text-align: right;
}

/* ###         NAVIGATION - MENU           ###*/
.nav1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	list-style-type: none;
}

.nav1 li.mypage {
	display: inline;
	margin: 0px;
	line-height: 23px;
	padding: 2px 12px 2px 12px;
}

.nav1 li.selected {
	display: inline;
	margin: 0px;
	line-height: 23px;
	padding: 2px 12px 2px 12px;
	color: #FB5F00;
}

.nav1 li a {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.nav1 li.mypage a:hover {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #FB5F00;
}

.nav1 li.selected a:hover {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #FB5F00;
}

/* ###         SIDE - MENU           ###*/
.nav2 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	list-style-type: none;
	background-color: white;
}

.nav2 li.mypage {
	padding: 0px;
	margin: 0px 2px 0px 2px;
}

.nav2 li.selected {
	padding: 0px;
	margin: 0px 2px 0px 2px;
}

.nav2 li.selected a {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FB5F00;
}

.nav2 li.mypage a {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.nav2 li.mypage a:hover {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #FB5F00;
}

.nav2 li.selected a:hover {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FB5F00;
}

.answerlist {
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
	list-style-type: none;
}

.answerlist li {
	
}

.lessonlist {
	padding: 0px 0px 10px 0px;
	border-collapse: collapse;
}

.lessonlist td {
	padding: 0px 0px 10px 0px;
}

.lessonlist tr:hover {
	background-color: #FFE8BF;
}

.minimenu {
	margin: 0px 10px 3px 0px;
	padding: 1px 0px 0px 0px;
	text-align: right;
	list-style-type: none;
}

.minimenu li {
	display: inline;
	margin-left: 20px;
	line-height: 21px;
	font-size: 10px;
	font-weight: normal;
	color: #FB5F00;
}

.minimenu li a {
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #FB5F00;
}

.minimenu li a:hover {
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;
	color: #FB5F00;
}

.naked {
	border: none;
	margin: 0px;
	padding: 0px;
}

.bordered {
	border: 1px solid #888888;
}

.box {
	border: 1px solid black;
	text-align: center;
	vertical-align: center;
	background-color: #eeeeee;
}

/*
	++++   OVERLAY
*/
#overlay {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: left;
	z-index: 1000;
	background-image: url(/images/hgraster.gif);
}

#overlay div {
	margin: 100px auto;
	background-color: #fff;
	border: 1px solid #000;
	padding: 15px;
	text-align: left;
}

/*
	Tabbed INFO
*/
.tabbedInfo {
	border: 0px none;
}

.inactiveTab {
	border: 0px none;
	background-color: #ffffff;
	width: 100px;
}

.inactiveTab input {
	border: 0px none;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	background-color: #ffffff;
}

.activeTab {
	border: 0px none;
	width: 100px;
}

.activeTab input {
	border: 0px none;
	font-size: 12px;
	font-weight: bold;
	color: #FB5F00;
}

.inactiveSub {
	background-color: #ffffff;
}

.activeSub {
	background-color: #ffffff;
}

.contentTab {
	border: 0px none;
}

.popup {
	background-color: rgb(255, 255, 255);
	color: #000000;
	border: 1px solid #CCCCCC;
	font-size: smaller;
	padding: 5px;
}

.popup table {
	font-size: smaller;
}

.paginator td {
	font: 12px Verdana;
	text-decoration: none;
}

.paginator td a {
	text-decoration: none;
	color: black;
}
